[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
minio = "*"
redis = "*"
python-multipart = "*"
uvicorn = "*"
requests = "*"
email-validator = "*"
neo4j = "*"
fitz = "*"
pandas = "*"
unidecode = "*"
uuid = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.8"
